
<!--The common header and footer or layout part is copied to layout .ejs here only remained the variable part-->
<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>

        <-- calling the header and footer from partials _header.ejs and _footer.ejs -->
        
        <!-- <%- include('_header'); %> --> 

        <!-- <h1> Codeial / <%=title %> </h1> -->

        <!-- <%- include('_footer'); %>
    </body>
</html> -->

<!-- variable part-->

<h1> 
    Codeial / <%=title %> 
</h1>

<section id="feed-posts">
    <h4>
        Posts
    </h4>
     <!-- locals is object -->
    <% if (locals.user) { %>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content"  cols="30" rows="5" placeholder="Type Here" required></textarea>
        <input type="submit" value="Post">
    </form>
    <% } %>

    <div id="post-list-conatiner">
        <ul>
            <% for (post of posts) { %>
            <li>
                <p>
                    <%= post.content %>
                    <br>
                    <small>
                        <%= post.user.name %>
                    </small>
                </p>
                <div class="post-comments">
                    <% if (locals.user) { %>
                        <form action="/comments/create"  method="POST">
                            
                            <input type="text" name="content" placeholder="Type Here to add comment..." required>
                            
                            <!-- hidden input for which post comment is made -->

                            <input type="hidden" name="post" value="<%= post._id %>">
                            <input type="submit" value="Add Comment">
                        </form>
                    <% } %>

                    <div class="post-comments-list">
                        <ul id="post-comments-<%= post._id %>">
                            <% for (comment of post.comments){%>
                                
                            <p>
                                <%= comment.content %>
                                <br>
                                <small>
                                    <%= comment.user.name %>
                                </small>
                            </p>    
                            <%} %>
                        </ul>
                    </div>   

                </div>
            </li>
            
            <% } %>
        </ul>
    </div>
</section>

