
<!--The common header and footer or layout part is copied to layout .ejs here only remained the variable part-->
<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>

        <-- calling the header and footer from partials _header.ejs and _footer.ejs -->
        
        <!-- <%- include('_header'); %> --> 

        <!-- <h1> Codeial / <%=title %> </h1> -->

        <!-- <%- include('_footer'); %>
    </body>
</html> -->

<!-- variable part-->

<h1> Codeial / <%=title %> </h1>
