
<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %>">
<div class="ripple-background">
    <div class="circle xxlarge shade1"></div>
    <div class="circle xlarge shade2"></div>
    <div class="circle large shade3"></div>
    <div class="circle mediun shade4"></div>
    <div class="circle small shade5"></div>
  </div>


<div id="home-container">

    <section id="user-nav">
        <h4>User</h4>
        <% if(locals.user) { %>
            <% if(user.avatar) { %>
                <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
            <% } %>
            <p>
                <a href="/users/profile/<%= user.id %>"><%= user.name %></a>
            </p>
        <% } %>
    </section>

    <section id="feed-posts">
        <h4>
            Posts
        </h4>
         <!-- locals is object -->
        <% if (locals.user) { %>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content"  cols="30" rows="5" placeholder="Type Here" required></textarea>
                <input type="submit" value="Post">
            </form>
        <% } %>
    
        <div id="posts-list-container">
            <ul>
                <% for (post of posts) { %>
                
                    <!-- including partials-->
    
                    <%- include('_post') -%>
                
                <% } %>
            </ul>
        </div>
    </section>
    
    <section id="user-friends">
        <h4 id="main-heading">Friends</h4>
        <% for (u of all_users){ %>
            <p id="frnd-list">
                <a href="/users/profile/<%= u.id %>">
                    <img src="<%= u.avatar %>" alt="<%= u.name %>" width="80" height="70">
                    <span id="friend-name">
                    <%= u.name %>
                </span>
                </a>
            </p>
        <% } %>
    </section>

    <%- include('_chat_box') -%>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script type="text/javascript" src="<%= assetPath('js/home_post_comments.js') %>" ></script>
<script type="text/javascript" src="<%= assetPath('js/home_posts.js') %>"></script>


<script src="<%= assetPath('js/toggle_likes.js') %>"></script>
<script>
    $('.toggle-like-button').each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
<script src="<%= assetPath('js/chat_engine.js') %>"></script>
<% if (locals.user){ %>
<script>
    new ChatEngine('user-chat-box', '<%= locals.user.email %>')
</script>
<% } %>