<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <!--to bring all link tags from body of layout.ejs to head part-->
        <%- style %>
    </head>
    <body>

        <!-- calling the header and footer from partials _header.ejs and _footer.ejs -->
        
        <%- include('_header'); %>

        <% if(flash.success && flash.success.length > 0) { %>
            <h5>
                <%= flash.success %>
            </h5>
        <% } %>

        <main id="layout-main">

            <%- body %> <!-- variable body part-->
           

        </main>
        <%- include('_footer'); %>
        
        <%- script %>
    </body>
</html>