<!--The common header and footer or layout part is copied to layout .ejs here only remained the variable part-->

<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body> -->

        <!-- calling the header and footer from partials _header.ejs and _footer.ejs -->

        <!-- <%- include('_header'); %>


        <h1> NetNExus / Profile Page </h1>

        <%- include('_footer'); %>

    </body>
</html> -->

<!-- variable part-->

<link rel="stylesheet" href="<%= assetPath('css/user_profile.css') %>">
<body>
<div class="profile-section">
<!-- <h1> NetNexus / Profile Page </h1> -->



<% if(user.id == profile_user.id) { %>
    <img src="<%= user.avatar %>" alt="<%= user.name %>" width="200" height="200">
<!-- if user matches then show the form -->
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST">
        <input type="text" name="name" placeholder="Your name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your email" value="<%= profile_user.email %>" required>

        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="update">
    </form>

</div>
<%} else {%>
<!-- else show only the profile info-->
<div class="profile-section">
    <img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>" width="200" height="200">
    <p id="prof_name">Name - <%= profile_user.name %></p>
    <p id="prof_email"> Email - <%= profile_user.email %></p>

<% } %>
</div>
</body>